[submodule "gruvbox-material-gtk"]
	path = extras/gruvbox-material-gtk
	url = https://github.com/TheGreatMcPain/gruvbox-material-gtk.git
[submodule "extras/pop-gruvbox-material-gtk-theme"]
	path = extras/pop-gruvbox-material-gtk-theme
	url = https://github.com/Shtaiven/pop-gruvbox-material-gtk-theme
[submodule "i3/.config/i3/scripts/i3ass"]
	path = extras/i3ass
	url = git@github.com:budlabs/i3ass
